<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <worldline_cc>
                <model>Worldline\CreditCard\Model\Method\Adapter\Virtual</model>
                <allow_specific_currency>0</allow_specific_currency>
                <allow_specific_customer_group>0</allow_specific_customer_group>
                <allowspecific>0</allowspecific>
                <title>Credit Card (Worldline Online Payments)</title>
                <payment_action>authorize_capture</payment_action>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <sort_order>10</sort_order>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_authorize_vault>1</can_authorize_vault>
                <can_capture_vault>1</can_capture_vault>
                <can_use_internal>0</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_review_payment>1</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <cc_types>americanexpress,cartebancaire,dinersclub,jcb,maestro,mastercard,visa,upi</cc_types>
                <debug>0</debug>
                <template_id>HTPTemplate11_Full.html</template_id>
                <authorization_mode>final</authorization_mode>
                <order_status>processing</order_status>
                <countries_all>all</countries_all>
                <can_sale>1</can_sale>
                <vault>1</vault>
                <skip_3d>0</skip_3d>
                <group>worldline_group</group>
            </worldline_cc>
            <worldline_cc_vault>
                <model>Worldline\CreditCard\Model\Method\Vault\CCVault\Virtual</model>
                <active>0</active>
                <title>Stored Cards (Worldline Online Payments)</title>
                <group>worldline_group</group>
            </worldline_cc_vault>
        </payment>
    </default>
</config>
